<h2> Reading Text File from Object Storage in R Kernel </h2>

In [ ]:
#Change the OS credentials according to your OS Service. Fo ex. I did insert to credential for text file and it gave me below
#all you have to do is replace 3rd cells' credentials with credentials_1 or drop a csv file and just do insert to code Spark Dataframe
# then change filename to your .txt file

In [ ]:

# @hidden_cell
credentials_1 <-list(auth_url = "https://identity.open.softlayer.com",project = "object_storage_60df6da3_bdf2_49be_981f_ef45f54e6a1d",project_id = "dd5d007908f64380a321f3f5b801ab12",region = "dallas",user_id = "87888ef3d1ef4a0fabcb8f13c2d09b89",domain_id = "da5b6dd1c8374f67b1050172badbef8c",domain_name = "837523",username = "member_eef6c66e1824080755ed39cd770e24cc3795fd26",password = "XXXXXXXXX",container = "DSXS2Watson",tenantId = "undefined",filename = "students.txt")

In [1]:
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
setHadoopConfigWithCredentials_60df6da3bdf249be981fef45f54e6a1d <- function(name) {
    # This function sets the Hadoop configuration so it is possible to
    # access data from Bluemix Object Storage V3 using Spark

    prefix = paste("fs.swift.service" , name, sep =".")
    hConf = SparkR:::callJMethod(sc, "hadoopConfiguration")
    SparkR:::callJMethod(hConf, "set", paste(prefix, "auth.url", sep='.'), paste("https://identity.open.softlayer.com","/v3/auth/tokens",sep=""))
    SparkR:::callJMethod(hConf, "set", paste(prefix, "auth.endpoint.prefix", sep='.'), "endpoints")
    SparkR:::callJMethod(hConf, "set", paste(prefix, "tenant", sep='.'), "dd5d007908f64380a321f3f5b801ab12")
    SparkR:::callJMethod(hConf, "set", paste(prefix, "username", sep='.'), "87888ef3d1ef4a0fabcb8f13c2d09b89")
    SparkR:::callJMethod(hConf, "set", paste(prefix, "password", sep='.'), "XXXXXXXXXXXX")
    SparkR:::callJMethod(hConf, "set", paste(prefix, "region", sep='.'), "dallas")
    invisible(SparkR:::callJMethod(hConf, "setBoolean", paste(prefix, "public", sep='.'), TRUE))
}

name <- "keystone"
setHadoopConfigWithCredentials_60df6da3bdf249be981fef45f54e6a1d(name)

In [2]:
filepath <- paste("swift://", "DSXS2Watson", "." , name,"/", "studentsgrade.txt",sep="")

In [3]:
#Recommended way read the text file as csv and you get formatted stuff

In [4]:
schema <- structType(structField("name", "string"),
                    structField("grade", "string"))
df1 <- read.df(filepath,"csv", schema)

In [5]:
head(df1)

  name     grade
1 charles  A
2 michael  B+
3 michelle C
4 Amy      A+
5 Donald   B+
6 Zoe      B

In [6]:
#You can read it as text file but the problem is the resultant dataframe will treat it as one column

In [7]:
df2 <- read.text(filepath)

In [8]:
head(df2)

  value
1 charles,A
2 michael,B+
3 michelle,C
4 Amy,A+
5 Donald,B+
6 Zoe,B