<h1>SparR Notebook to demonstrate connection to Cloudant database</h1>

In [64]:
#Since Cloudant Driver needs some parameters initialized in sparkcontext, we would need to stop it.

In [65]:
sparkR.stop()

In [66]:
#Please change the below credentials according to your cloudant service.

In [67]:
sc <- sparkR.init(sparkEnv = list("cloudant.host"="c8dca934-d2a4-4dcc-9123-2189ce9f5812-bluemix.cloudant.com","cloudant.username"="c8dca934-d2a4-4dcc-9123-2189ce9f5812-bluemix","cloudant.password"="XXXXXXXXXXXXXXXXXXXX"))

Launching java with spark-submit command /usr/local/src/spark160master/spark/bin/spark-submit   sparkr-shell /gpfs/fs01/user/sf58-a0340cf1eaefe8-2c631c8ff999/notebook/tmp/RtmpVIxqRu/backend_portaa9a32aaab58

In [68]:
#Please change below database name according to your database name

In [69]:
database <- "sample"

In [70]:
#create sqlContext on the new sc you initialized

In [71]:
sqlContext <- sparkRSQL.init(sc)

In [72]:
people <- read.df(sqlContext, database, header='true', source = "com.cloudant.spark",inferSchema='true')

In [73]:
head(people)

  Age _id                              _rev
1 28  0ddb166731899e3f24f6087d2c69b782 1-5f3f4cb97a3f58f0ba5b0c87f790eb7a
2 1   3ac7ad822808dfd859e7ef8f7ea4f25d 1-fe87dd5920fedbc26ddba758c9a144c3
  name
1 charles
2 chloe