In [37]:
sparkR.stop()

In [48]:
sc <- sparkR.init(sparkEnv = list("cloudant.host"="c8dca934-d2a4-4dcc-9123-2189ce9f5812-bluemix.cloudant.com","cloudant.username"="c8dca934-d2a4-4dcc-9123-2189ce9f5812-bluemix","cloudant.password"="XXXXXXX"))

Re-using existing Spark Context. Please stop SparkR with sparkR.stop() or restart R to create a new Spark Context

In [49]:
url <- "sample"

In [50]:
sqlContext <- sparkRSQL.init(sc)

In [51]:
people <- read.df(sqlContext, url, header='true', source = "com.cloudant.spark",inferSchema='true')

In [52]:
head(people)

  Age _id                              _rev
1 28  0ddb166731899e3f24f6087d2c69b782 1-5f3f4cb97a3f58f0ba5b0c87f790eb7a
2 1   3ac7ad822808dfd859e7ef8f7ea4f25d 1-fe87dd5920fedbc26ddba758c9a144c3
  name
1 charles
2 chloe